<html>
    <head>
        <title>To-Do lists</title>
    </head>
    <body>
        <h1>Your To-Do list</h1>
        <form method="POST" action="/lists/{{ list.id }}/add_item">
            <input name="item_text" id="id_new_item" placeholder="Enter a to-do item" />
            {% csrf_token %}
        </form>

        <h4>{{ komentar }}</h4>
        <table id="id_list_table">
            {% for item in list.item_set.all %}
                <tr><td>{{ forloop.counter }}: {{ item.tebakan }}</td></tr>
                <tr><td>{{ forloop.counter }}: {{ item.random }}</td></tr>
                <tr><td>{{ forloop.counter }}: {{ item.status }}</td></tr>
            {% endfor %}
        </table>
    </body>
</html>
